



        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- page heading -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item align-items-center">
              <div class="d-sm-flex align-items-center">
                <h1 class="h3 mb-0 text-gray-800">{{ pageTitle }}</h1>  
              </div>
            </li>

          </ul>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
  
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Course Instructor</span>
                <i class="fas fa-user-circle"></i>
              </a>
              
            </li>
            

          </ul>
        </nav>

        <!-- End of Topbar -->



        <!-- Begin Page Content -->
        <!-- container-fluid -->
        <div class="container-fluid">
        
          <!-- Nested Row within Card Body -->
          <div class="row">

            <div class="col-lg-7">
                <div class="p-5">
                    
                  <form class="user" method="POST" action="/insert-present-student-info" enctype="multipart/form-data">
                  
                      <div class="form-group">
                        <input type="number" name="inputRegi" class="form-control form-control-user" id="inputRegi" placeholder="Registration_no">
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-6">
                          <input type="time" name="inputEntranceTime" class="form-control form-control-user" id="inputEntranceTime" placeholder="time">
                        </div>
                      </div>

                      
                      <button type="submit" name="" class="btn btn-primary btn-user btn-block">
                          submit
                      </button>
                      
          
                  </form>
                    
                </div>

            </div>

            <div class="col-lg-5 card">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Instructions</h6>
              </div>
              <div class="card-body">
                <p>
                  Enter your(student) name, regi_no, gender and register date and submit. You will be registered for any particular course.
                </p>
                {{!-- <p class="mb-0">
                  Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.
                </p> --}}
              </div>
            </div>
          </div>
        </div>


             
















        </div>