
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- page heading -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item align-items-center">
              <div class="d-sm-flex align-items-center">
                <h1 class="h3 mb-0 text-gray-800">{{ pageTitle }}</h1>  
              </div>
            </li>

          </ul>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
  
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Course Instructor</span>
                <i class="fas fa-user-circle"></i>
              </a>
              
            </li>
            

          </ul>
        </nav>

        <!-- End of Topbar -->


        <!-- Begin Page Content -->
        <!-- container-fluid -->
        <div class="container-fluid">

          <!-- present student list GET form -->
          <div class="row">
            <div class= "col-lg-7 col-lg-5">
                <div class="dropup center-block"> 
                    <div class="p-5">
                        <form class="form" method="GET" action="">
                            <div class="form-group row">
                                <select name="inputClassTopicId" class="form-control dropdown" id="inputClassTopicId">
                                    <option value="">--Select Class Topic--</option>
                                    {{#each classListData}}
                                        <option value={{ this.class_id }}>
                                            {{ this.topic }}
                                        </option>
                                    {{/each}}
                                </select>
                            </div>
     
                            <button type="submit" name="" class="btn btn-primary btn-user btn-block" href="/userTemplates/take-attendance/insert-present-student-info">
                                Submit
                            </button>        
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 card">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Instructions</h6>
                </div>
                <div class="card-body">
                    <p>
                        Select Class topic name and Submit.
                    </p>
                    
                </div>
            </div>
          </div>
          

          

        </div>